
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 topic-panel text-center">
                    <h1>Upload Order Log File</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <h4> Customer Code : </h4>
                </div>
                <div class="col-sm-4">
                    <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="customer_selected">
                        <option [ngValue]="null">Please select</option>
                        <option *ngFor="let customer of customer_list" [value]="customer.customer_code" >{{customer.customer_code}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <h4> Project : </h4>
                </div>
                <div class="col-sm-4">
                    <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="project_selected"
                        [disabled]="customer_selected==null||customer_selected==''" >
                        <option [ngValue]="null">Please select</option>
                        <option *ngFor="let project of get_related_project_list(customer_selected)" [value]="project.project_code" >{{project.project_code}}</option>
                    </select>
                    
                </div>
                <div class="col-sm-2">
                    <h4> Upload Date From : </h4>
                </div>
                <div class="col-sm-4">

                    <mat-form-field>
                    <input matInput [matDatepicker]="start" [(ngModel)]="start_date_selected"  placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker #start></mat-datepicker>
                    </mat-form-field>
                    
                </div>
                <div class="col-sm-2">
                    <h4> Upload Date To :  </h4>
                </div>
                <div class="col-sm-4">

                    <mat-form-field>
                    <input matInput [matDatepicker]="end" [(ngModel)]="end_date_selected"  placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker #end></mat-datepicker>
                    </mat-form-field>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-info button-custom"  (click)="reload()">
                        Search
                    </button>
                </div>

                <div class="col-sm-2">
                    <button type="button" class="btn btn-info button-custom"  (click)="downloadCSV()" >
                        Download as CSV
                    </button>
                </div>
            </div>

            <div class="row" style="overflow-x:auto;">
                <div class="table">
                    <div class="table-row header blue">
                        <div class="table-cell" >
                            CSV
                        </div>
                        <div class="table-cell">
                            Customer Code
                        </div>
                        <div class="table-cell">
                            Project
                        </div>
                        <div class="table-cell">
                            File No
                        </div>
                        <div class="table-cell">
                            Order Count
                        </div>
                        <div class="table-cell">
                            Status
                        </div>
                        <div class="table-cell">
                            Uploaded By
                        </div>
                        <div class="table-cell">
                            Uploaded TimeStamp
                        </div>
                       

                    </div>
                    
                     <div class="table-row" *ngFor="let file of file_list"  >
                        <div class="table-cell"  >
                           <td (click)="downloadCSVFile(file.csv_url)" ><img src="/assets/img/csv-icon.png" alt="image" class="csv-icon"></td>
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{file.customer_code}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{file.project_code}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{file.file_no}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{file.order_count}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle" *ngIf="file.status == 1" >
                            Draft
                        </div>
                        <div class="table-cell"  style="vertical-align: middle" *ngIf="file.status == 2" >
                            Confirm
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{file.updated_by}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{file.updated_date | date:'dd/MM/yyyy HH:mm:ss':''}}
                        </div>
                       
                    </div>
  
            </div>
        </div>
    </div>
    


  
