
   <app-order-part-master *ngIf="status ==2"></app-order-part-master>
    <div class="content" *ngIf="status ==1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 topic-panel text-center">
                    <h1>Mismatch Order</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <h4> Customer Code : </h4>
                </div>
                <div class="col-sm-4">
                    <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="customer_selected">
                        <option [ngValue]="null">Please select</option>
                        <option *ngFor="let customer of customer_list" [value]="customer.customer_code" >{{customer.customer_code}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <h4> Project : </h4>
                </div>
                <div class="col-sm-4">
                    <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="project_selected"
                        [disabled]="customer_selected==null||customer_selected==''" >
                        <option [ngValue]="null">Please select</option>
                        <option *ngFor="let project of get_related_project_list(customer_selected)" [value]="project.project_code" >{{project.project_code}}</option>
                    </select>
                    
                </div>
                <div class="col-sm-2">
                    <h4> Supplier Code : </h4>
                </div>
                <div class="col-sm-4">
                    <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="supplier_selected"
                    [disabled]="project_selected==null||project_selected==''" >
                        <option [ngValue]="null">Please select</option>
                        <option *ngFor="let supplier of get_related_supplierCode_list(project_selected)" [value]="supplier.station_code" >{{supplier.station_code}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <h4> Plant Code : </h4>
                </div>
                <div class="col-sm-4">
                    <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="plant_selected"
                        [disabled]="project_selected==null||project_selected==''">
                        <option [ngValue]="null">Please select</option>
                        <option *ngFor="let plant of get_related_plantCode_list(project_selected)" [value]="plant.station_code" >{{plant.station_code}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <h4> Due Date From : </h4>
                </div>
                <div class="col-sm-4">

                    <mat-form-field>
                    <input matInput [matDatepicker]="start" [(ngModel)]="start_date_selected"  placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker #start></mat-datepicker>
                    </mat-form-field>
                    
                </div>
                <div class="col-sm-2">
                    <h4> Due Date To :  </h4>
                </div>
                <div class="col-sm-4">

                    <mat-form-field>
                    <input matInput [matDatepicker]="end" [(ngModel)]="end_date_selected"  placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker #end></mat-datepicker>
                    </mat-form-field>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-info button-custom" (click)="search_miss_match()">
                        Search
                    </button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-info button-custom" (click)="downloadCSV()">
                        Download CSV
                    </button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-info button-custom" (click)="match_order()">
                        Match Order
                    </button>
                </div>
            </div>
            <div class="row table-order">
                <div class="table">
                    <div class="table-row header blue">
                        <div class="table-cell" > Part </div>
                        <div class="table-cell" >Route </div>
                        <div class="table-cell" >File Id.</div>
                        <div class="table-cell" >Order ID.</div>
                        <div class="table-cell" >Supplier</div>
                        <div class="table-cell" >Plant</div>
                        <div class="table-cell" >Part No</div>
                        <div class="table-cell" >Part Name</div>
                        <div class="table-cell" >Due Date</div>
                        <div class="table-cell" >Order Qty</div>
                        <div class="table-cell" >Package No</div>
                        <div class="table-cell" >Package Qty</div>
                        <div class="table-cell" >Router&Trip</div>
                        <div class="table-cell" >Upload By</div>
                        <div class="table-cell" >Upload TimeStamp</div>
                    </div>
                    <div class="table-row" *ngFor="let order of order_list"  >
                        <div class="table-cell" *ngIf="order.is_part_completed">
                            <img src="/assets/img/right_green_check.png" alt="image" style="color:blue;text-align:center;" class="csv-icon">
                        </div>
                        <div class="table-cell" *ngIf="!order.is_part_completed">
                            <img src="/assets/img/cross_green_check.png" alt="image" class="csv-icon">
                        </div>
			            <div class="table-cell" *ngIf="order.is_route_completed">
                            <img src="/assets/img/right_green_check.png" alt="image" class="csv-icon">
                        </div>
                        <div class="table-cell" *ngIf="!order.is_route_completed">
                            <img src="/assets/img/cross_green_check.png" alt="image" class="csv-icon">
                        </div>
                         <div class="table-cell" >
                            {{order.file_no}}
                        </div>
                        <div class="table-cell" >
                            {{order.order_no}}
                        </div>
                        <div class="table-cell" >
                            {{order.supplier_code}}
                        </div>
                        <div class="table-cell" >
                            {{order.plant_code}}
                        </div>
                        <div class="table-cell" >
                            {{order.part_number}}
                        </div>
                        <div class="table-cell" >
                            {{order.part_name}}
                        </div>
                        <div class="table-cell" >
                            {{order.due_date | date:'dd/MM/yyyy HH:mm:ss' }}
                        </div>
                        <div class="table-cell" >
                            {{order.order_qty}}
                        </div>
                        <div class="table-cell" >
                            {{order.package_no}}
                        </div>
                        <div class="table-cell" >
                            {{ order.package_no == null||order.package_no == "" ? "" : order.package_qty}}
                        </div>
                        <div class="table-cell" >
                            {{ order.route_code == null||order.route_code == "" ? "" : order.route_code + "-" + order.route_trip}}
                        </div>
                         <div class="table-cell" >
                            {{order.updated_by}}
                        </div>
                        <div class="table-cell" >
                            {{order.updated_date | date:'dd/MM/yyyy HH:mm:ss'}}
                        </div>
                    </div>

                </div>
            <div>
        </div>
        
    </div>
    


  
