
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 topic-panel text-center">
                    <h1>Order Transaction</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <h4>Customer Code :</h4>
                </div>
                 <div class="col-sm-4">
                    <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="customer_selected">
                        <option [ngValue]="null">Please select</option>
                        <option *ngFor="let customer of customer_list" [value]="customer.customer_code" >{{customer.customer_code}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <h4>Project :</h4>
                </div>
                 <div class="col-sm-4">
                    <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="project_selected"
                        [disabled]="customer_selected==null||customer_selected==''" >
                        <option [ngValue]="null">Please select</option>
                        <option *ngFor="let project of get_related_project_list(customer_selected)" [value]="project.project_code" >{{project.project_code}}</option>
                    </select>
                </div>
                   <div class="col-sm-2">
                    <h4> Due Date From : </h4>
                </div>
                <div class="col-sm-4">

                    <mat-form-field>
                    <input matInput [disabled]="project_selected==null||project_selected==''"  [matDatepicker]="start" [(ngModel)]="start_date_selected"  placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker #start></mat-datepicker>
                    </mat-form-field>
                    
                </div>
                <div class="col-sm-2">
                    <h4> Due Date To :  </h4>
                </div>
                <div class="col-sm-4">

                    <mat-form-field>
                    <input matInput [disabled]="project_selected==null||project_selected==''" [matDatepicker]="end" [(ngModel)]="end_date_selected"  placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                    <mat-datepicker #end></mat-datepicker>
                    </mat-form-field>
                    
                </div>
                <div class="col-sm-2">
                    <h4> File ID:  </h4>
                </div>
                <div class="col-sm-4">
                     <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="file_selected"
                        [disabled]="project_selected==null||project_selected==''">
                        <option [ngValue]="null">Please select</option>
                        <option *ngFor="let file of get_related_file_list(project_selected)" [value]="file.file_no" >{{file.file_no}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <h4> Order ID: </h4>
                </div>
                <div class="col-sm-4">
                    <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="order_selected"
                        [disabled]="file_selected==null||file_selected==''">
                        <option [ngValue]="null">Please select</option>
                        <option *ngFor="let order of get_related_order_list(file_selected)" [value]="order.order_no" >{{order.order_no}}</option>
                    </select> 
                </div>
                <div class="col-sm-2">
                    <h4> Supplier : </h4>
                </div>
                <div class="col-sm-4">
                    <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="supplier_selected"
                        [disabled]="project_selected==null||project_selected==''">
                        <option [ngValue]="null">Please select</option>
                        <option *ngFor="let supplier of get_related_supplierCode_list(project_selected)" [value]="supplier.station_code" >{{supplier.station_code}}</option>
                    </select> 
                </div>
                <div class="col-sm-2">
                    <h4> Plant : </h4>
                </div>
                <div class="col-sm-4">
                    <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="plant_selected"
                        [disabled]="project_selected==null||project_selected==''">
                        <option [ngValue]="null">Please select</option>
                        <option *ngFor="let plant of get_related_plantCode_list(project_selected)" [value]="plant.station_code" >{{plant.station_code}}</option>
                    </select> 
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-info button-custom" (click)="search_order_transaction()" >
                        Search
                    </button>
                </div>

                <div class="col-sm-2">
                    <button type="button" class="btn btn-info button-custom" (click)="downloadCSV()" >
                        Download as CSV
                    </button>
                </div>
            </div>

            <div class="row" style="overflow-x:auto;">
                <div class="table">
                    <div class="table-row header blue">
                        <div class="table-cell" >
                            Action
                        </div>
                        <div class="table-cell">
                            File Id
                        </div>
                        <div class="table-cell">
                            Order Id
                        </div>
                        <div class="table-cell">
                            Supplier
                        </div>
                        <div class="table-cell">
                            Plant
                        </div>
                        <div class="table-cell">
                            Part No
                        </div>
                        <div class="table-cell">
                            Part Name
                        </div>
                        <div class="table-cell">
                            Due Date
                        </div>
                        <div class="table-cell">
                            Oder Qty
                        </div>
                        <div class="table-cell">
                            Package No
                        </div>
                        <div class="table-cell">
                            Package Qty
                        </div>
                        <div class="table-cell">
                            Route&Trip
                        </div>
                         <div class="table-cell">
                            Uploaded By
                        </div>
                         <div class="table-cell">
                            Uploaded TimeStamp
                        </div>
                       

                    </div>
                    
                     <div class="table-row" *ngFor="let order of order_transaction_list"  >
                        <div class="table-cell" style="vertical-align: middle">
                           {{order.action}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.file_no}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.order_no}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.supplier_code}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.plant_code}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.part_number}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.part_name}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.due_date | date:'dd/MM/yyyy HH:mm:ss'}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.order_qty}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.package_no}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.package_qty}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.route_trip}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.updated_by}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{order.updated_date | date:'dd/MM/yyyy HH:mm'}}
                        </div>
                    </div>
  
            </div>
        </div>
    </div>
    


  
