﻿<!-- nav -->
<app-menu-bar *ngIf="is_menu&&is_show_menu_bool" (openHide)="openHide($event)" ></app-menu-bar>
<span  *ngIf="!is_menu" style="font-size:30px;cursor:pointer" (click)="openMenu()">&#9776; </span>


<!-- main app container -->
<div class="container-fluid">
    <div   [ngStyle]="is_menu&&is_show_menu_bool?{'margin-left': '300px'} : {'margin-left': '40px'}">
      <router-outlet></router-outlet>
    </div>
  
    <alert class="alert"></alert>
     <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
    >
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

    
</div>

